@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>
    Name: @person.SalesPerson
</p>

@code {
    IndexViewModel person = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        person = new IndexViewModel
        {
            SalesPerson = "Alex"
        };



    }
    class IndexViewModel
    {
        public string SalesPerson { get; set; }
    }
}
